<!DOCTYPE html>
<html>
<head>
    <partial name="_PageHeadElement"/>
    
    @RenderSection("Styles", required: false)
    @RenderSection("HeadScripts", required: false)
</head>
<body>
    <partial name="_GoogleTagManagerBodyElement" />

    <partial name="_Sidenav"/>
    <div class="main-content">
        <partial name="Topnav/_Topnav"/>
        
        <!-- Header -->
        <div class="header bg-primary pb-6">
            <div class="container-fluid">
                <div class="header-body">
                    <!-- 1st Row: Crumbs and filters -->
                    <div class="row align-items-center py-5">
                        @*<form class="form-inline col-lg-12 col-12">*@ 
                                <div class="col-lg-3 col-3 dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Selecciona su opcion
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Casa</a>
                                        <a class="dropdown-item" href="#">Departamento</a>
                                        <a class="dropdown-item" href="#">Loft</a>
                                    </div>
                                </div>

                                <div class="col-lg-5 col-5">
                                    @RenderSection("Search", required: false)
                                </div>

                                <div class="col-lg-3 col-3">
                                    <a href="#" class="btn btn-md btn-neutral">Buscar mi propiedad</a>
                                </div>
                        @*</form>*@                      
                    </div>
                    @RenderSection("DashboardCards", required: false)
                </div>
            </div>
        </div>
        
        <!-- Page content -->
        <div class="container-fluid mt--6">
            <!-- Page content -->
            @RenderBody()
            <partial name="_Footer" />
        </div>
    </div>
    
    <partial name="_ThemeScripts" />

    @RenderSection("Scripts", required: false)
</body>
</html>
